@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --theme-color: #6441a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  position: relative;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

#navbar {
  width: 320px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 300ms 0s ease;
}

#navbar.hide {
  width: 60px;
}

#navbar nav {
  width: 100%;
  height: 100%;
}

#navbar nav ul li:first-child {
  margin-top: 0;
}

#navbar.hide nav ul li:first-child {
  display: initial;
}

#navbar.hide nav ul li {
  display: none;
}

#navbar nav ul {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.5em;
}

#navbar nav ul li {
  width: 100%;
  margin-top: 1em;
}

#navbar nav ul li .toggle {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 28px;
  border-bottom: solid 1px white;
  width: 100%;
  text-align: left;
}

#navbar nav ul li .toggle i {
  padding-left: 4px;
}

#navbar nav ul li p {
  margin-top: 0.5em;
  color: white;
  border-bottom: solid 2px var(--theme-color);
}

#navbar nav ul li h4 {
  margin-top: 1.2em;
  color: white;
  font-size: 1.2em;
  letter-spacing: 1px;
}

#navbar nav ul li input {
  margin-top: 0.5em;
  padding: 0.5em;
  width: 100%;
  border: solid 1px white;
  border-radius: 24px;
  background-color: transparent;
  color: white;
}

#submit {
  margin-top: 1.2em;
  width: 100%;
  padding: 0.5em;
  border: solid 1px white;
  border-radius: 24px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

#submit:hover {
  background-color: transparent;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

#chat {
  width: 360px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 300ms 0s ease;
}

#twitch-chat-embed {
  min-height: 300px;
}

#st-main {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#st-window-main {
  position: relative;
  height: 100%;
}

#st-main-title {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: rgba(255, 255, 255, 0.9);
}

#st-sub {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  transition: all 300ms 0s ease;
}

#st-window-sub {
  position: relative;
  width: 320px;
  height: 180px;
}

#st-sub-title {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: rgba(255, 255, 255, 0.9);
}

#pv-container {
  margin-top: 0.5em;
  width: 100%;
  height: 120px;
  color: white;
}

#pv-container h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
}

#pv-main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
}

#pv-sub {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 300ms 0s ease;
}
